<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login | Aplikasi</title>
  </head>

  <body>
    <h1>Masuk</h1>

    <form action="authlog" method="post">
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" value="Masuk!" />
    </form>

    <br /><br />
    <a href="/register">Belum ada akun?</a>
  </body>
</html>
