<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register | Aplikasi</title>
  </head>

  <body>
    <h1>Register</h1>
    <form method="POST" action="authreg">
      Nama

      <input
        type="text"
        name="nama"
        placeholder="Nama anda"
        required
        autofocus
        email
      />

      Email

      <input
        type="email"
        name="email"
        placeholder="contoh@domain.com"
        required
        autofocus
        email
      />

      Password
      <input
        type="password"
        name="password"
        placeholder="Kata kunci anda"
        required
      />
      <br /><br /><br />
      <input type="submit" value="Daftar!" />
    </form>
    <br /><br />
    <p>Sudah memiliki akun?</p>
    <a href="/login">Masuk disini</a>
  </body>
</html>
